<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrafT - Gráfico</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_index.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="{{ url_for('static', filename='js/script_menu.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="{{ url_for('static', filename='js/script_menu.js') }}"></script>

</head>
<body>
{% extends 'menu.html' %}

{% block title %}GrafT - Gráfico{% endblock %}

{% block content %}
    <div class="chart-container">
        <canvas id="myChart" width="1500" height="500"></canvas>
    </div>
        
    <div id="customDates" style="display: none;">
        <label for="startDate">Data de Início:</label>
        <input type="date" id="startDate" name="startDate">
    
        <label for="endDate">Data de Fim:</label>
        <input type="date" id="endDate" name="endDate">
    </div>
    <script src="{{ url_for('static', filename='js/script_chart.js') }}"></script>
{% endblock %}
</body>
</html>
