<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

#myChart {
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input, button {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
=======
/* Adicione este estilo para o contêiner do gráfico */
.chart-container {
    margin-top: 0px; /* Margem superior conforme necessário */
    margin-bottom: 10px; /* Margem inferior conforme necessário */
    width: 100%; /* Largura do contêiner conforme necessário */
    margin-left: auto;
    margin-right: auto;
}

/* Adicione este estilo para centralizar o gráfico dentro do contêiner */
#myChart {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}
>>>>>>> db8f6b88b6ff31efa4b928debe37fa8c82caf9ee
