/* Adicione este estilo para o contêiner do gráfico */
.chart-container {
    margin-top: 0px; /* Margem superior conforme necessário */
    margin-bottom: 10px; /* Margem inferior conforme necessário */
    width: 100%; /* Largura do contêiner conforme necessário */
    margin-left: auto;
    margin-right: auto;
}

/* Adicione este estilo para centralizar o gráfico dentro do contêiner */
#myChart {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}